.idea/
__pycache__/
.mypy_cache/
*.fmu.txt
*.fmu
/docs/_build/

/fmu/binaries/win64/
/fmu/sources/
/fmu/comb
/fmu/*.bat
/fmu/*.log
/fmu/*_FMU.makefile
/fmu/combi
/fmu/combined
/fmu/*.def
/fmu/*.makefile
/fmu/*_FMU.libs
/fmu/*_FMU.log
/fmu/*_init.xml
/fmu/modelDescription.xml
/fmu/OMCpp*.cpp
/fmu/OMCpp*.h
/fmu/OMCpp*AlgLoopMain.cpp
/fmu/OMCpp*CalcHelperMain.cpp
/fmu/OMCpp*CalcHelperMain.o
/fmu/OMCpp*FactoryExport.cpp
/fmu/OMCpp*FMU.cpp
/fmu/OMCpp*FMU.h
/fmu/OMCpp*Functions.cpp
/fmu/OMCpp*Functions.h
/fmu/OMCpp*Initialize.cpp
/fmu/OMCpp*Initialize.h
/fmu/OMCpp*InitializeAlgVars.cpp
/fmu/OMCpp*InitializeParameter.cpp
/fmu/OMCpp*Jacobian.cpp
/fmu/OMCpp*Jacobian.h
/fmu/OMCpp*Main.cpp
/fmu/OMCpp*Mixed.cpp
/fmu/OMCpp*Mixed.h
/fmu/OMCpp*StateSelection.cpp
/fmu/OMCpp*StateSelection.h
/fmu/OMCpp*Types.h
/fmu/OMCpp*WriteOutput.cpp
/fmu/OMCpp*WriteOutput.h
