bump2version==0.5.11
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0

pytest==4.6.5
pytest-cov
pytest-runner==5.1
tables>=3.4.1

Sphinx==2.1
sphinx-autodoc-typehints>1.10
m2r
sphinx_rtd_theme

twine==1.14.0
